@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

<div class="wrapper">
    <partial name="../Dashboard/_ManageSideBar" />

    <div class="main-panel">
        <partial name="../Dashboard/_ManageNav2" />

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <partial name="../Dashboard/_StatusMessage" for="StatusMessage" />

                                <h4 class="title">Change Password</h4>
                            </div>
                            <div class="content">
                                <form id="change-password-form" method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label asp-for="Input.OldPassword"></label>
                                                <input asp-for="Input.OldPassword" class="form-control" />
                                                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="Input.NewPassword"></label>
                                                    <input asp-for="Input.NewPassword" class="form-control" />
                                                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="Input.ConfirmPassword"></label>
                                                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-info btn-fill pull-right">Update Password</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <partial name="../Dashboard/_ManageFooter" />

    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
