@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.DeletePersonalData;
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

<div class="wrapper">
    <partial name="../Dashboard/_ManageSideBar" />

    <div class="main-panel">
        <partial name="../Dashboard/_ManageNav2" />

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">

                        <div class="alert alert-danger" role="alert">
                            <p>

                                <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
                            </p>
                        </div>
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Delete Account ?</h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <form id="delete-user" method="post" class="form-group">
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            @if (Model.RequirePassword)
                                            {
                                                <div class="form-group">
                                                    <label asp-for="Input.Password"></label>
                                                    <input asp-for="Input.Password" class="form-control" />
                                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                                </div>
                                            }
                                            <button class="btn btn-danger" type="submit">Delete data and close my account</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <partial name="../Dashboard/_ManageFooter" />

    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}