@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}


<div class="wrapper">
    <partial name="../Dashboard/_ManageSideBar" />

    <div class="main-panel">
        <partial name="../Dashboard/_ManageNav2" />

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Personal Data</h4>
                                <p class="text-info">
                                    You do not have a local username/password for this site. Add a local
                                    account so you can log in without an external login.
                                </p>
                            </div>

                            <div class="content">
                                <div class="row">
                                    <div class="col-md-7">
                                        <form id="set-password-form" method="post">
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <div class="form-group">
                                                <label asp-for="Input.NewPassword"></label>
                                                <input asp-for="Input.NewPassword" class="form-control" />
                                                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Input.ConfirmPassword"></label>
                                                <input asp-for="Input.ConfirmPassword" class="form-control" />
                                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                            </div>
                                            <button type="submit" class="btn btn-default">Set password</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <partial name="../Dashboard/_ManageFooter" />


    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
