@{

}

<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        Home
                    </a>
                </li>

            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy;
            <script>document.write(new Date().getFullYear())</script> <a asp-page="./Index">Messenger</a>, Dashboard
        </p>
    </div>
</footer>