@using HireMe.Services.Interfaces

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IMessageService _messageService

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();

     var userId = UserManager.GetUserId(User);
}


<nav class="navbar navbar-default navbar-fixed">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a asp-page="/Messenger/index">
                        <i class="fa fa-inbox"></i>
                        <b class="caret hidden-sm hidden-xs"></b>

                       @if(this._messageService.GetMessagesUnreadBy_Receiver(userId) > 0)
                       { 
                        <span class="notification hidden-sm hidden-xs">@this._messageService.GetMessagesUnreadBy_Receiver(userId)</span>
                        }
                        <p class="hidden-lg hidden-md">Messenger</p>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-globe"></i>
                        <b class="caret hidden-sm hidden-xs"></b>
                        <span class="notification hidden-sm hidden-xs">5</span>
                        <p class="hidden-lg hidden-md">
                            5 Notifications
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Notification 1</a></li>
                        <li><a href="#">Notification 2</a></li>
                        <li><a href="#">Notification 3</a></li>
                        <li><a href="#">Notification 4</a></li>
                        <li><a href="#">Another notification</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-search"></i>
                        <p class="hidden-lg hidden-md">Search</p>
                    </a>
                </li>
            </ul>

            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Base", new { area = "" })" method="post" id="logoutForm" class="navbar-right">

                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a class="btn btn-link nav-item" asp-controller="Base" asp-action="Index">
                            Home
                        </a>
                    </li>
                    @*
                          <li>
                              <a asp-area="Identity" asp-page="/Account/Manage/Dashboard">
                                  <p>Account</p>
                              </a>
                          </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  <p>
                                      Dropdown
                                      <b class="caret"></b>
                                  </p>

                              </a>
                              <ul class="dropdown-menu">
                                  <li><a href="#">Action</a></li>
                                  <li><a href="#">Another action</a></li>
                                  <li><a href="#">Something</a></li>
                                  <li><a href="#">Another action</a></li>
                                  <li><a href="#">Something</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#">Separated link</a></li>
                              </ul>
                          </li>*@
                    <li>
                        <button type="submit" class="btn btn-danger nav-item">Logout</button>
                    </li>

                    <li class="separator hidden-lg hidden-md"></li>
                </ul>
            </form>
        </div>
    </div>
</nav>
