<div class="sidebar" data-color="blue" data-image="../panel/assets/img/sidebar-5.jpg">

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a asp-controller="Home" asp-action="Index" class="simple-text">
                Messenger
            </a>
        </div>

        <partial name="../Dashboard/_ManageNav" />
    </div>
</div>